@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    -font-primaria: 'Krona One', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 1.2rem;
    font-family: var(-font-primaria);
    font-weight: 700;
}



body {
    background-image: url(https://i.pinimg.com/736x/dd/28/77/dd287736e3461e1a97c47a3b8e2008db.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    position: relative;
    width: 400px;
    height: 500px;
    background-color: #EDE9D5;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #3E54AC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    color: #7A3E65;
          
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    color: #7A3E65;      
}

.input:hover {
    transform: scale(1.05);
}

.label {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: end;
    
}

input {
    width: 250px;
    padding: 5px 0px 5px 10px;
    border-radius: 5px;
    border: 1px solid #292c37;
    outline: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-weight: 500;
    font-size: 0.85rem;
    transition: .2s;
}

button {
    border-radius: 10px;
    background-color: #7A3E65;
    margin: 30px;
    padding: 10px 20px;
    cursor: pointer;
    color: aquamarine;
    text-shadow: 1px 1px 1px #CCC;
    }

button:hover {
    transform: scale(1.20);
}

footer {
    text-align: center;
    font-weight: 700;
    color: #7A3E65;
    font-size: 20px;
    padding: 10px;
    position: absolute;
    bottom: 0;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #7A3E65;
}

a:hover {
    color: red;
    font-size: 28px;
}

@media(max-width: 768px){

    .container{
        margin: 0 10px;
        font-size: 1rem;
    }

    .input {
        margin: 15px ;
    }

    #resultado {
        margin: 0 5px;
    }

    
}

@media(max-width: 380px){

    .container{
        margin: 0 10px;
        font-size: 1rem;
    }

    .input {
        margin: 15px ;
    }

    #resultado {
        margin: 0 5px;
    }

    .input:hover {
        transform: none;
    }
}


